@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bahnschrift;
  src: url("../fonts/bahnschrift.TTF");
}

@font-face {
  font-family: Barlow;
  src: url("../fonts/barlow.ttf");
}

.lteal {
  color: #5ea6b0;
}

.dlteal {
  color:#4796a1
}
