@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Bahnschrift;
    src: url("../fonts/bahnschrift.TTF");
}

@font-face {
    font-family: Barlow;
    src: url("../fonts/barlow.ttf");
}

h1 {
    font-family: Bahnschrift, sans-serif;
    src: url(https://ff.static.1001fonts.net/a/l/alte-din-1451-mittelschrift.regular.ttf);
}