@font-face {
/* default font */
  font-family: 'bahnschrift';
  src: url("https://www.cufonfonts.com/download/font-single/34764/bahnschrift");
}
p {
  font-family: 'bahnschrift';
}
h1 {
  font-family: 'bahnschrift', sans-serif;
  color: #0c3c3f;
}
div {
  color: #008183;
}
b {
  color: #000;
}
