@font-face {
        /* default font */
        font-family: 'bahnschrift';
        src: url('https://www.cufonfonts.com/download/font-single/34764/bahnschrift')
           }

p   {

    font-family: 'bahnschrift'
    }
h1 {
    font-family: 'bahnschrift', sans-serif
    }
h1 {
    font-family: 'bahnschrift', sans-serif
}

